paramiko
PyInstaller
APScheduler==3.7.0
beautifulsoup4==4.9.3
bs4==0.0.1
easygui==0.98.2
Faker==5.8.0
Flask==1.1.2
gevent==21.1.2
greenlet==1.0.0
loguru==0.5.3
Pillow>=8.2.0
pycparser==2.20
PyMySQL==1.0.2
pyperclip==1.8.1
pytz==2020.5
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
schedule==0.6.0
selenium==3.141.0

