easygui~=0.98.2
pyperclip~=1.8.2
redis~=3.5.3
requests~=2.26.0
pyyaml~=5.4.1
gevent~=21.8.0
bs4~=0.0.1
beautifulsoup4~=4.9.3
pysimplegui~=4.46.0
pytz~=2021.1
loguru~=0.5.3
colorama~=0.4.4
retry~=0.9.2